.div1 {
    width: 500px;
    height: 300px;
    position: relative;
    transition: all 10s;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    opacity: 0;
    transition: all 10s;
}

.div2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: red;
}

@keyframes width {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

@keyframes Height {
    from {
        height: 0px;
    }
    to {
        height: 100%;
    }
}

.div3 {
    position: absolute;
    width: 2px;
    top: 0;
    right: 0;
    background-color: red;
    transition: all 2s;
}

.div4 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: red;
}

.div5 {
    position: absolute;
    width: 2px;
    left: 0;
    bottom: 0;
    background-color: red;
    transition: all 2s;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}